header {
    background-color: antiquewhite;
}
.banner {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: flex-start;
    width: 100vw;
}
.banner__img {
    display: flex;
    height: 20vh;
    width: 100vw;
}
.banner__principal {
    display: flex;
    height: 45vh;
    width: 100vw;
}
@media (min-width: 834px){
    .banner__img {
        display: flex;
        height: 25vh;
        position: relative;
        left: 12rem;
        width: 55vw;
    }
    .banner__principal {
        height: 60vh;
    }
}
@media (min-width: 1280px){
    .banner {
        justify-content: center;
    }
    .banner__img {
        left: 0;
         width: 35vw;
    }
}
@media (min-width: 1440px){
    .banner__img {
        height: 20vh;
        width: 40vw;
    }
    .banner__principal {
        height: 50vh;
        left: 20%;
        position: relative;
        width: 60vw;
    }
}