.menu {
    align-items: center;
    background: antiquewhite;
    display: none;
    height: 8vh;
    justify-content: space-evenly;
    width: 100vw;
}
.menu__li {
    color:  #505050;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}
@media (min-width: 1280px){
    .menu {
        background: #f7c985;
    }
}
@media (min-width: 1440px){
    .menu {
        display: flex;
    }
}