.navigation {
    background: antiquewhite;
    display: flex;
    justify-content: space-around;
    height: 6vh;
    padding-bottom: 2rem;
}
.navigation a {
    display: flex;
}
.navigation__redessociais {
    height: 5vh;
}
.navigation__logo {
    display: flex;
    top: 25px;
    height: 5vh;
}
@media (min-width: 1280px){
    .navigation {
        justify-content: flex-end;
    }
}