.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
}
.noticias__titulo {
    border-top: 2px dashed;
    color: #033502;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}
.noticias__li {
    display: flex;
}
.noticias__img {
    margin-bottom: 1rem;
    max-height: 20vh;
    width: 35vw;
}
.noticias__manchete {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: -0.5rem;
}
@media (min-width: 1440px){
    .noticias__img {
        width: 29vw;
    }
    .noticias__titulo {
        font-size: 3rem;
    }
    .noticias__manchete {
        font-size: 1.2rem;
    }
}